/*!
 * Estilos por defecto para el proyecto
 * @package     webroot
 * @subpackage  css
 * @author      JpBaena13
 */
prefix(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args

html, body
	font-size 16px
	height 100%
	
/*** SKELETON***/
.untHeaderWrapper, .untMainWrapper, .untFooterWrapper
	width 100%

.untHeaderContent, .untMainContent, .untFooterContent
	margin 0 auto
	max-width 980px	

.untHeaderWrapper
	background #373737
	max-height 140px

.untHeaderContent img
	margin-top 20px

.untMainContent
	overflow auto

.untFooterWrapper
	background-color #373737
	color white
	line-height 1.5
	padding 1em 0
	text-align center

.untLeftContent, .untRightContent
	background #eee
	border thin solid #ccc
	prefix(box-sizing, border-box)
	float left
	height auto
	min-height 200px
	padding 10px
	width 50%

.untBtn
	background-color rgb(247, 169, 31)
	background-image linear-gradient(rgb(247, 185, 75), rgb(204, 98, 0))
	border 1px solid
	border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
	border-radius 0.5em
	box-sizing border-box
	box-shadow inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(255, 255, 255, 0.1)
	color white
	cursor pointer
	display inline-block
	font-size 1em
	margin .15em
	padding .6em 1em
	text-align center
	text-decoration none
	text-shadow 0 -1px 0 rgba(0, 0, 0d, 0.25)

.untBtn:hover 
	background-image none
	text-decoration none

@media screen and (max-width:980px)
	.untHeaderContent img
		height 100%
		width 100%

@media screen and (max-width:450px)
	.untLeftContent, .untRightContent
		float none
		width 100%
		