/**
 * @package     webroot
 * @subpackage  css
 * @author      JpBaena13
 */
prefix(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args

html, body
	font-size 16px
	height 100%
	
/*** SKELETON***/
.untHeaderWrapper, .untMainWrapper, .untFooterWrapper
	width 100%

.untHeaderContent, .untMainContent, .untFooterContent
	margin 0 auto
	max-width 980px	

.untHeaderWrapper
	background #373737
	max-height 140px

.untHeaderContent img
	margin-top 20px

.untMainContent
	overflow auto

.untFooterWrapper
	background-color #373737
	color white
	line-height 1.5
	padding 1em 0
	text-align center

.untLeftContent, .untRightContent
	background #eee
	border thin solid #ccc
	prefix(box-sizing, border-box)
	float left
	height auto
	min-height 200px
	padding 10px
	width 50%

@media screen and (max-width:980px)
	.untHeaderContent img
		height 100%
		width 100%

@media screen and (max-width:450px)
	.untLeftContent, .untRightContent
		float none
		width 100%
		