/**
 * JQuery Messages and Buttons Plug-in 0.1
 *
 * @author      JpBaena13
 */
.untBtn
	border thin solid #ccc
	border-radius 3px
	cursor pointer
	margin 0
	min-height 35px
	padding 5px 10px
	text-decoration none

.untBtnIcon
	display none
	height 19px
	margin-right 5px
	vertical-align middle
	width 19px

.untBtnContent
	display inline-block
	vertical-align middle

.untBtnSilver
	background-color #ddd
	background-image -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc))
	background-image -moz-linear-gradient(top, #fff, #ccc);
	background-image linear-gradient(to bottom, #fff, #ccc);
	border-left-color #888
	border-top-color #888
	text-shadow #ffffff 0px 1px 0px
	filter s("progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc);");

.untBtnSilver:hover
	background-color #ccc
	background-image -webkit-gradient(linear, left top, left bottom, from(#fff), to(#aaa))
	background-image -moz-linear-gradient(top, #fff, #aaa);
	background-image linear-gradient(to bottom, #fff, #aaa)
	filter s("progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#aaaaaa);");

.btnWinCancel
	display none