/**
 * JQuery Messages and Buttons Plug-in 0.1
 *
 * @author      JpBaena13
 */
.untWinBG
	background #ddd url('../images/default/diagonals_bg.png')
	left 0
	opacity 0.5
	position fixed
	top 0
	z-index 10

.untWin
	background-color #ccc
	border-radius 7px
	height auto
	padding 8px
	opacity 1
	position absolute
	width auto
	z-index 10

.untWinHeader
	background-color #d8a054
	border thin solid sienna
	border-bottom none
	font-size 1.4em
	font-weight bold
	line-height 30px
	padding-left 20px
	text-align left
	color white
	text-shadow #111 0px 1px 0px

.untWinContent
	background-color white
	border thin solid #aaa
	border-bottom thin solid #ccc
	border-top none
	padding 10px 10px

.untWinFooter
	text-align center
	background-color #eee
	border thin solid #aaa
	border-top none
	padding 5px

	.untBtn
		margin 0 10px